*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color: #1e2244;
    
}

@font-face{
    font-family: "DIN PRO 400";
    src: url(/fonts/DIN\ Pro\ 400.otf);
}

html{
    color: #ffffff;
    font-size: 20px;
    font-family: "DIN PRO 400";
}
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: s;
    border-color: c;

}

header .logo{
    position: d;
    height: 200px;
    width: 200px;
    margin-left: -15px;
    margin-top: -30px
}

#btn-menu{
    display: none;
    
}

header .menu-ima{
    position: absolute;
    right: 35px;
    top: 20px;
}

#btn-menu:checked ~ * .menu-ima {
    visibility: hidden;
}

#btn-menu:checked ~ * .menu-ima-x {
    visibility: visible;
}

header .menu-ima-x{
    position: absolute;
    right: 35px;
    top: 20px;
    transform: rotate(45deg);
    visibility: hidden;
}

#btn-menu:checked ~ .menu{
    visibility: visible;
}

.lado-derecho{
    display: flex;
}

 .menu {
    position: re;
    background-color: transparent;
    color: #ffffff;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: 100px;
    transition: all 0.5s;
    visibility: hidden;
    }

a{
    color: #ffffff;
    
    border: s;
    border-left: f;
}

.menu ul{
    list-style-type: none;
    flex-direction: column;
}

/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/

.frase{
    display: flex;
    font-family: "DIN PRO 400";
    align-items: center;
    justify-content: center;
    /*background-image: url("../imgs/3.png");*/
}

.frase_text{
    position: absolute;
    margin-bottom: 150px;
    font-size: 80px;
}

.agencia_text{
    position: absolute;
    font-size: 50px;
}

.perro{
    height: 800px;
    width: 100%;
}

/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/

.servicios{
    display: fex ;
    height: a;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.serv_title{
    position: a;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.serv-bloques{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.serv_img_cont{
    flex-direction: c;
}

.serv_imgs{
    height: 500px;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.serv_text_img{
    margin-right: 100px;
    margin-left: 100px;
}

#text_z{
    display: none;
}

#z_text{
    visibility: hidden;
}

#text_z:checked ~ #z_text{
    visibility: visible;
}


/*
#z:active ~ #z_text{
    visibility: visible;
}
*/

/*
#btnLeft:onclick {
    width:70px;
    height:74px;
}
*/

/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/

h1{
    position: absolute;
    font-family: s;
}

.nos_title_text{
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#equipo{
    height: 400px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.primera_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e63525;
    margin: 35px;
}

.second_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: #;
    margin: 35px;
}

.third_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e63525;
    margin: 35px;
}

.cuarta_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: #;
    margin: 35px;
}

.cont_text_img{
    text-align: center;
    
}


/*
paleta:
principal: #1e2244
secundario para destacados: #f7c65
ITEMS: #e63525
*/