*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color: grey;
    
}

html{
    color: #ffffff;
    font-size: 20px;
}
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: aqua;

}

header .logo{
    position: d;
    height: 200px;
    width: 200px;
    margin-left: -15px;
    margin-top: -30px
}

#btn-menu{
    display: none;
    
}

header .menu-ima{
    position: absolute;
    right: 35px;
    top: 20px;
}

#btn-menu:checked ~ * .menu-ima {
    visibility: hidden;
}

#btn-menu:checked ~ * .menu-ima-x {
    visibility: visible;
}

header .menu-ima-x{
    position: absolute;
    right: 35px;
    top: 20px;
    transform: rotate(45deg);
    visibility: hidden;
}

#btn-menu:checked ~ .menu{
    visibility: visible;
}

.lado-derecho{
    display: flex;
}

 .menu {
    position: re;
    background-color: transparent;
    color: #ffffff;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: 100px;
    transition: all 0.5s;
    visibility: hidden;
    }

a{
    color: #ffffff;
    
    border: s;
    border-left: f;
}

.menu ul{
    list-style-type: none;
    flex-direction: column;
}

/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
.servicios{
    display: fex ;
    height: a;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.serv_title{
    position: a;
}

.serv-bloques{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.serv_img_cont{
    flex-direction: c;
}

.serv_imgs{
    height: 500px;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.serv_text_img{
    margin-right: 50px;
    margin-left: 50px;
    visibility: hidden;
}

#z:active ~ #z_text{
    visibility: visible;
}

/*
#btnLeft:onclick {
    width:70px;
    height:74px;
}
*/

/*
a:active {
  background-color: yellow;
}
*/

/*-----------------------------------IMAGENES----------------------------------------*/
/*-----------------------------------IMAGENES----------------------------------------*/
/*-----------------------------------IMAGENES----------------------------------------*/
/*-----------------------------------IMAGENES----------------------------------------*/
/*-----------------------------------IMAGENES----------------------------------------*/

.frase{
    display: f;
    
}

h1{
    position: absolute;
    font-family: s;
}

.perro{
    height: 800px;
    width: 100%;
}

#equipo{
    height: 400px;
    width: 500px;
}

.primera_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.third_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cuarta_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.cont_text_img{
    text-align: center;
    
}