*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color: #1e2244;
    margin-top: -30px;
}

@font-face{
    font-family: "DIN PRO 400";
    src: url(/fonts/DIN\ Pro\ 400.otf);
}

html{
    
    font-size: 20px;

}

/*----------------------------------ENCABEZADO-----------------------------------*/
/*----------------------------------ENCABEZADO-----------------------------------*/
/*----------------------------------ENCABEZADO-----------------------------------*/
/*----------------------------------ENCABEZADO-----------------------------------*/

header{
    display: flex;
    height: 200px;
    width: 100%;

}

.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 20px;

}

/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/
/*--------------------------------MENU HAMBUR-----------------------------------*/

#btn-menu{
    display: none;
}

.menu-ima{
    position: absolute;
    height: 35px;
    width: 35px;
    right: 35px;
    top: 20px;

}

#btn-menu:checked ~ * .menu-ima {
    visibility: hidden;
}

#btn-menu:checked ~ * .menu-ima-x {
    visibility: visible;
}

.menu-ima-x{
    position: absolute;
    right: 35px;
    top: 20px;
    height: 35px;
    width: 35px;
    visibility: hidden;

}

#btn-menu:checked ~ .menu{
    visibility: visible;
}

.cont_menu{
    display: f;
    width: 100%;
    position: sticky;
    right: 100px;
    top: 20px;
    z-index: 100;

}

.menu {
     display: flex;
     justify-content: center;
     align-items: center;

    position: absolute;
    background-color: #e63525;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    transition: all 0.5s;
    visibility: hidden;
    
    }

a{
    color: #1e2244;
    font-size: 25px;
    font-family: "DIN PRO 400";
    color: #ffffff;
    
}

ul{
    list-style-type: none;
    
}

.redes_top{
    position: absolute;
    right: 100px;
    top: 20px;

}

/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/
/*-----------------------------------FRASE----------------------------------------*/

.frase{
    position: relative;
    height: 800px;
    width: 100%;

}

.carousel-inner{
    display: flex;
    width: 100%;
    height: 100%;

    }

#carousel1{
    height: 100%;
    width: 100%;

    }

.frase_text{
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 80px;
    color: #ffffff;
    z-index: 90;

}

.flechaabajo{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 25.6%;
    bottom: 100px;
    z-index: 90;
    animation-name: flechaabajo;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.flechaabajo1{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 75.6%;
    bottom: 100px;
    z-index: 90;
    animation-name: flechaabajo;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes flechaabajo1{
    from {bottom: 75px;}
    to {bottom: 30px;}
}

@keyframes flechaabajo{
    from {bottom: 100px;}
    to {bottom: 30px;}
}
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/
/*-----------------------------------SERVICIOS----------------------------------------*/

.serv_title{
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
    text-decoration-color: #e63525;
    font-size: 40px;
    font-family: "DIN PRO 400";
    color: #ffffff;    

}

.serv-bloques{
    display: flex;
    position: relative;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}

.flip-card {
  background-color: transparent;
  width: 640px;
  height: 500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7c650;
    color: #1e2244;
}

/* Style the back side */
.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7c650;
    color: #1e2244;
    transform: rotateY(180deg);
}

/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/
/*-----------------------------------NOSOTROS----------------------------------------*/

.content_tamaño{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nos_title_text{
    text-decoration: underline;
    text-decoration-color: #e63525;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: "DIN PRO 400";
    color: #ffffff;
}

#equipo{
    height: 400px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 50%;
}

.primera_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid;
    border-color: #e63525;
    margin: 35px;
}

.second_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid;
    border-color: #e63525;
    margin: 35px;
}

.third_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid;
    border-color: #e63525;
    margin: 35px;
}

.cuarta_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: s;
    margin: 35px;
}


.cont_text_img{
    text-align: center;
    
}

.nos_persona{
    color: #ffffff;
}

.nos_parr{
    color: #ffffff;
}

/*------------------------------------OTRA SECCION-------------------------------------*/
/*------------------------------------OTRA SECCION-------------------------------------*/
/*------------------------------------OTRA SECCION-------------------------------------*/
/*------------------------------------OTRA SECCION-------------------------------------*/


/*
.lqh{
    display: flex;
    height: 800px;
    width: 100%;
}

.lqh_text{
    color: #ffffff;
}
*/
/*-----------------------------------CONTACTO GOOGLE--------------------------------------*/
/*-----------------------------------CONTACTO GOOGLE--------------------------------------*/
/*-----------------------------------CONTACTO GOOGLE--------------------------------------*/
/*-----------------------------------CONTACTO GOOGLE--------------------------------------*/

.google_form{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px ;
    -webkit-image-set: url("");
    background-color: s;
    width: 100%;

}

.parche{
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0.5px;
    background-color: #1e2244;
    
}

/*--------------------------------------FOOTER-----------------------------------------*/
/*--------------------------------------FOOTER-----------------------------------------*/
/*--------------------------------------FOOTER-----------------------------------------*/
/*--------------------------------------FOOTER-----------------------------------------*/

.pie{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.redes{
    left: 20px;

}

.redes_imgs{
    margin-left: 20px;
    height: 50px;
    width: 50px;

}

.ubicacion{
    color: #ffffff;
    margin-right: 20px;
    margin-top: 10px;

}

.pie_text{
    color: #ffffff;
    margin-top: 10px;

}

.ydi2020{
    background-color: #e63525;

}


/*--------------------------------------RESPONSIVE-----------------------------------------*/
/*--------------------------------------RESPONSIVE-----------------------------------------*/
/*--------------------------------------RESPONSIVE-----------------------------------------*/
/*--------------------------------------RESPONSIVE-----------------------------------------*/

@media (max-width: 680px){
    .logo{
        height: 100px;
        width: 100px;
    }

    .redes_imgs{
        height: 30px;
        width: 30px;
    }

    .menu {
       width: 200px;
       height: 200px;
       
       }
    a{
        font-size: 15px;
    }

    header{
        height: 120px;
    }

    .frase{
        height: 300px;
    }

    .frase_text{
        font-size: 25px;
    }
    .flechaabajo1{
        height: 20px;
        width: 20px;
    }

    .flechaabajo{
        height: 20px;
        width: 20px;
    }

    @keyframes flechaabajo1{
        from {bottom: 55px;}
        to {bottom: 10px;}
    }
    
    @keyframes flechaabajo{
        from {bottom: 55px;}
        to {bottom: 10px;}
    }

    .serv_title{
        font-size: 20px;
    }

    .serv-bloques{
        height: 250px;
    }

    .flip-card{
        height: 250px;
        width: 130px;
    }

    .nos_title_text{
        font-size: 20px;
        margin-top: 20px;
    }

    #equipo{
        height: 150px;
        width: 200px;
    }

    .nos_persona{
        font-size: 15px;
    }
    
    .nos_parr{
        font-size: 15px;
    }

    .parche{
        position: absolute;
        height: 120px;
    }

    .pie_text{
        font-size: 15px;
        
    }

    .ubicacion{
        font-size: 15px;
    }

    